[Desktop Entry]
Version=1.0
Type=Application
Name=Amulet
GenericName=Amulet
Icon=amulet
Exec=amulet
Comment=Audio converter
Comment[ru]=Аудио конвертор
Comment[ua]=Аудіо конвертер
Categories=AudioVideo;Audio;AudioVideoEditing;
